body{
	font: 13px normal Helvetica, Arial, sans-serif;
	position: relative;
	margin:0;
	padding:0;
	background-color: #233836;
}
#contenedor{
	padding-top:10px;
	height:180px;
}
legend{
	border:1px  solid #919974;
	border-radius:5px;
	background-color:#c9cdbc;
}

#ventana1{
	width:450px;
	height:180px;
	float: left;
	border:1px  solid #919974;
	background-color:#EDEDED;
}
.etiq{
	display: block;
	width:80px;
	float: left;
}
#ventana2{
	width:420px;
	height:83px;
	border:1px  solid #919974;
	background-color:#EDEDED;
}
#ventana3{
	clear: both;
	width:480px;
	display: block;
	border:1px  solid #919974;
	background-color:#EDEDED;
	float: left;
}
#ventana5{
	width:180px;
	display: block;
	border:1px  solid #919974;
	background-color:#EDEDED;
	float: left;
}
#tablaescuela{
	border:1px  solid #919974;
	border-radius:5px;
	background-color:#536093;
	color:white;
}
#tablaescuela .tablacuerpo{
	border:1px  solid #919974;
	border-radius:3px;
	background-color:#d9e6da;
	color:black;
	font: 11px sans-serif;
}
#tablaescuela tr:hover{
	background-color:#a0c0a3;
}