body{
	font: 13px normal Helvetica, Arial, sans-serif;
	position: relative;
	margin:0;
	padding:0;
	background-color: #233836;
}
#contenedor{
	
	margin: 0px auto;
	margin-top:50px;
	width:400px;
	
}

#cuerpo_exito
{
		
		width:400px;
		height:110px;
		font: 13px/20px normal Helvetica, Arial, sans-serif;
		color: #4F5155;
		border:1px  solid #919974;
		border-radius:5px;
		padding:5px;
}

#ventana_registro{
	border:2px solid #818962;
	border-radius:5px;
	margin-bottom:5px;
	height:100px;
	background-color:#A3BFD7;
}
.titulo{
	background-color:#696969;
	height:25px;
	color:#fffdff;
	font: 17px Helvetica;
	font-weight: bold;
	padding-top:4px;
	padding-left:8px;
	background-image: -moz-linear-gradient(#696969, #a0a0a0);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #a0a0a0),color-stop(1, #696969));
}
#cuerpo_registro2{
	text-align: center;
	font-weight: bold;
	font-size:10px;
	padding-top:5px;
	
	
}
#centro_registro{
	margin:0 auto;
	width:384px;
	height:40px;
	border-radius:5px;
	background-color:#4272BE;
	padding-top:15px;
}
#cuerpo_registro2 a{
	text-decoration: none;
	color:white;
	font-size:15px;
}
#colorazul{
	color:#35ce31;
}
