body{
	background-image: url(http://localhost/sym/img/13.jpg);
	margin: 0px 186px 0px 186px;
	
}
#contenedor{
	margin: 0px auto;
	width: 960px;
	border: 3px solid black;
	
	
}
#cabecera{
	
	/*background-image: url(http://localhost/sym/img/symeg1.png);*/
	background-repeat: no-repeat;	
	background-color:#ffffff;
	height: 120px;
	width: 1127px;
	-moz-box-shadow: inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow: inset 0 0 10px #000000;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	
}
#cabecera img{
	margin-left: 60px;
}
#cuerpo{
	height: 800px;
}
/*EFECTO MENU*/
.menusup { 
		-moz-box-shadow: inset 0 0 10px #000000;
		-webkit-box-shadow: inset 0 0 10px #000000;
		box-shadow: inset 0 0 10px #000000;
		background:#dd7253;
		width:1090px;
		height:33px;
		text-transform:uppercase;
		padding:0 0 0 20px;
		font-weight:bold;
		margin-left: 9px;
	}
.menusup ul{
		margin:0;
		padding:0;
		list-style-type:none;
		width:auto;
		float:left;
		
		}
.menusup ul li{
		display:block;
		float:left;
		margin:0px 3px;
		}
.menusup ul li a{
		display:block;
		float:left;
		color:#ffffff;
		text-decoration:none;
		padding:0 0 0 20px;
		height:33px;
		}
.menusup ul li a span{
		padding:8px 30px 0 10px;
		height:21px;
		float:left;
		}
.menusup ul li a:hover{
		color:#a2211e;
		
		}
.menusup ul li a:hover span{
		display:block;
		width:auto;
		cursor:pointer;
		}
#menuinf{
	height: 767px;
	width: auto;
	background: #ffffff;
	color: #040033;
	box-shadow: 0px 3px 13px;
}
#pie{
	box-shadow: inset -2px 2px 15px black;
	width:1090px;
	height: 25px;
	padding:5px 0 0 20px;
	margin-left: 9px;
	background-color:#dd7253;
	text-align: center;
	color: #ffffff;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
/*Pagina Login*/
#login{
	width: 300px;
	height:140px;
}
#registrarse{
	border: 1px solid black;
	width: 300px;
	height:350px;
}
#perfil
{
	
}